* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
}

body img {
    position: absolute;
    width: 100%;
    height: 100%;
}

#container {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#container img {
    height: 60%;
    width: auto;
    top: 30px;
}

#container .HIP {
    position: absolute;
    left: 760px;
    top: 250px;
}

#container .size-A {
    position: absolute;
    top: 440px;
}

#container .size-B {
    position: absolute;
    left: 380px;
    top: 250px;
}

input {
    font-size: 20px;
    text-align: center;
    border-radius: 7px;
    border: 2px solid black;
    outline: 0;
    padding: 5px;
    width: 4em;
}

#container .buttonCalculate {
    position: absolute;
    z-index: 100;
    height: 3rem;
    width: 6.5em;
    background: #fff;
    color: #000;
    font-size: 20px;
    text-align: center;
    top: 540px;
}

#container .buttonCalculate:hover {
    background-color: rgb(250, 240, 103);
    border-radius: 15%;
    transition: 0.2s ease-in;
}

#container .buttonCalculate:active {
    background: rgb(248, 233, 19);
    transition: 0.1s ease-in;
}